$title-color: #f0a293;

#cover {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 100%;

  .imgbox {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    .imgbox-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 1s ease-in-out;
    }
  }

}

#title {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-right: 4rem;
  padding-top: 3rem;

  p {
    writing-mode: vertical-rl;
    color: $title-color;
    background-color: white;
    font-size: 3.2rem;
    padding: 0.4rem;
    margin: 0.8rem;
    border-radius: 0.5rem;
  }
}