$text-color: #333;

#poster-text {
  margin: 22vw 15vw 3rem;
  color: $text-color;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0 0 3rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Kaisei Opti', serif;
    letter-spacing: 2px;
  }

  p {
    margin: 0.5rem 0;
    font-family: 'Zen Maru Gothic', sans-serif;
    letter-spacing: 1px;
  }
}