$text-color: #333;

#poster-text {
  margin: 12vw 15vw 3rem;
  color: $text-color;
  display: flex;
  flex-direction: column;

  #poster-title-wrapper {
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    display: inline;
    font-size: 2.5rem;
    font-family: 'Kaisei Opti', serif;
    letter-spacing: 2px;
    position: relative;

    img {
      position: absolute;
      height: 100%;
    }
  }

  p {
    margin: 0.5rem 0;
    font-family: 'Zen Maru Gothic', sans-serif;
    letter-spacing: 1px;
  }

  #path-bar {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#other-images-p {
  color: $text-color;
  margin: 0.5rem 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  letter-spacing: 1px;
  font-size: 1.3em;
}

#absolute-logo {
  position: absolute;
  top: 0;
  left: 0;
}